body {
    background-image: url('../assets/backgrounds/start.jpg');
}

.startButton {
    position: absolute;
    left: 550px;
    top: 300px;
    width: 310px;
    height: 270px;
    background-color: transparent;
}

.innerButton {
    width: 300px;
    height: 200px;
}